.featured-section {
  padding: 50px;
  /* position: absolute; */
  top: 10rem;
  left: 10rem;
  width: 140rem;
  /* : 20rem; */
}
.featured-section  h2{
  color: #780600;
  padding-top: 10rem;
}
.featured-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 20px;
} 

.featured-item {
  width: 150rem;
  height: fit-content;
  margin-right: 50px;
}

.featured-item img {
  width: 20rem;
  height: auto;
  filter: grayscale(0.6);
}

.featured-item h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}
.featured-item a {
  color: #780600;
  text-decoration: none;
}
